
.vs/consoleOpenCv/v17/ipch/AutoPCH/95634b00d6e2ced3/COLORDETECTION.ipch
.vs/consoleOpenCv/v17/ipch/AutoPCH/696961a1175fad14/SOURCE.ipch
.vs/consoleOpenCv/v17/Browse.VC.opendb
.vs/consoleOpenCv/v17/Browse.VC.db-wal
.vs/consoleOpenCv/v17/Browse.VC.db-shm
.vs/consoleOpenCv/v17/Browse.VC.db
.vs/consoleOpenCv/v17/.suo
